---
layout: default
title: Hawthorne Field Guide
---

<div class="site-header">
    <div class="header-content"> 
        <h1 class="site-title">Hawthorne Field Guide</h1>
    </div>
</div>

<h2>Credits</h2>
<p>The original Hawthorne Field Guide was been created by <b>km.d, MonoxideAtWork</b> and <b>Rexen</b> with the assistance of <b>Kathy</b> for updating and
formatting using the Homebrewery in collaboration with the Lore Consultants and Rules Architects of the Hawthorne Dungeons & Dragons Guild</p>
<p>This Digital Field Guide was created by the Hawthorne Engineers using the contents from the PDF Field Guide</p>

<h2>Monsters</h2>
<p>The monsters in this compendium have been created by various members of the community of the Hawthorne Dungeons & Dragons Guild.<br> 
  The credits are listed on the page of the statblock(s).</p>

{% assign monsters_by_category = site.monsters | where_exp:"item", "item.category != null" | group_by: 'category' | sort: 'name' %}

{% for category in monsters_by_category %}
  <h2>{{ category.name }}</h2>

  <div class="monster-list">
    {% assign sorted = category.items | sort: 'title' %}
    {% for monster in sorted %}
      <div class="monster-card">
        <h3><a href="{{ monster.url | relative_url }}">{{ monster.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
{% endfor %}