---
layout: default
title: Hawthorne Field Guide
---

<h1>Hawthorne Field Guide</h1>

<p>The monsters in this compendium have been created by various members of the community of the Hawthorne Dungeons & Dragons Guild. 
  The credits are listed on the page of the statblock(s).</p>

{% assign monsters_by_category = site.monsters | where_exp:"item", "item.category != null" | group_by: 'category' | sort: 'name' %}

{% for category in monsters_by_category %}
  <h2>{{ category.name }}</h2>

  <div class="monster-list">
    {% assign sorted = category.items | sort: 'title' %}
    {% for monster in sorted %}
      <div class="monster-card">
        <h3><a href="{{ monster.url | relative_url }}">{{ monster.title }}</a></h3>

        {% if monster.cr %}
          <p class="monster-cr">CR {{ monster.cr }}</p>
        {% endif %}

        {% if monster.type %}
          <p class="monster-type">{{ monster.type }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
